---
---

@import "{{ site.theme }}";

body {
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
}

a {
    color: LinkColor;
    filter: brightness(120%);
}

.markdown-body h2 {
    border-bottom: 1px solid GrayText;
}

.markdown-body .highlight pre, .markdown-body pre {
    background-color: Canvas;
    color: CanvasText;
    border-radius: 0px;
    filter: brightness(70%);
}

.markdown-body blockquote > :last-child {
    color: CanvasText;
    filter: brightness(70%);
}

div.linkmenu {
    float: right;
}

div.titleflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid GrayText;
    margin-bottom: 2em;
}

div.titleflex span.sitetitle {
    font-size: 2em;
    font-weight: 600;
}

div.titleflex span.links a {
    display: inline-block;
    padding: 1em;
}

div.titleflex span.links a:last-child {
    padding-right: 0em;
}

.markdown-body {
    -webkit-font-smoothing: antialiased;
}

div.blogpost {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px minmax(200px, 1fr);

    margin-bottom: 1em;
}

div.blogpost div#date div#day {
    font-size: 2.25em;
    text-align: center;
    margin-top: 0.1em;
}

div.blogpost div#date div#month {
    font-size: 0.6em;
    text-align: center;
    text-transform: uppercase;

    position: relative;
    top: -1em;
}

div.blogpost div#overview div#title {
    margin-top: 0.75em;
}

div.blogpost div#overview div#excerpt {
    padding-top: 0.2em;
    color: CanvasText;
    filter: brightness(60%);
    text-decoration: none;
    font-size: 1em;
}

@media (prefers-color-scheme: dark) {
    .markdown-body img#contactbyemail {
        filter: invert(1);
    }
}
